{% extends 'main.html' %} {% block conteudo %}
<div class="container-about">
  <h1 class="name">Andre do Nascimento Amaral</h1>
  <p>
    Estou em busca da minha primeira oportunidade de trabalho como programador
    júnior. Participei de alguns bootcamps e trabalhei em projetos pessoais,
    como um chatbot para o Telegram usando Python e a API do Telegram, além de
    projetos em .NET utilizando o modelo MVC. Estou familiarizado com as
    linguagens Python (API, RPA e ELT/ETL), .NET/C#, ReactJS, Javascript e CSS.
    Também possuo conhecimentos em plataformas como AWS e PowerBI. Todos os meus
    projetos são pessoais e ainda não tenho experiência profissional na área.
    Estou sempre aberto a oportunidades de crescimento e formas de expandir meu
    conhecimento.
  </p>
</div>

<div class="container-contact">
  <h1 class="Contact">Contato</h1>
  <ul class="certifications">
    <li><b>Endereço:</b>Diadema São Paulo</li>
    <li><b>Telefone:</b>5511982672319</li>
    <li><b>Email:</b>andrenascimentoo96@icloud.com</li>
    <li><b>Github:</b>https://github.com/amarallandre/</li>
    <li><b>Linkedin:</b>https://www.linkedin.com/in/andre-nascimento-281bb225b/</li>
  </ul>
</div>


<div class="container-certifications">
  <h1 class="certifications">Certificados</h1>
  <ul class="certifications">
    <li>
      <b>Intensivão de PowerBI (HashtagTreinamentos):</b> Vídeo aulas de projetos
      guiado, foi feito o desenvolvimento de 3 dashboards no PowerBI.
    </li>
    <li>
      <b>Intensivão de Python (HashtagTreinamentos):</b> Vídeo aulas de projetos guiado, foi feito o desenvolvimento de 4 projetos focados em machine learning, analise de dados e automação.
    </li>
    <li>
      <b>Decola Tech 2024 (DIO):</b> Aprendi sobre o básico da linguagem C#
    </li>
    <li>
      <b>Intensivão de JavaScript (HashtagTreinamentos):</b> Vídeo aulas de projetos
      guiado, foram feitos 3 projetos nesse intensivão, foi utilizado JavaScript
      e Node.js.
    </li>
    <li>
      <b>Programação C# com CRM Dynamics (DIO):</b> Aprendi sobre o básico da linguagem
      C# e sobre o CRM Dynamics da Microsoft.
    </li>
    <li>
      <b>Foundational C# with Microsoft (FreeCodeCamp):</b> Aprendi mais sobre a
      plataforma .NET.
    </li>
    <li>
      <b>Potencia Tech Ifood – Programação do zero (DIO):</b> Aprendi sobre o básico da
      programação, mais sobre o versionamento de código no Git/Hub e o básico
      sobre o método Scrum.
    </li>
    <li>
      <b>JavaScript Algorithms and Data Structures (FreeCodeCamp):</b> Aprendi sobre o
      básico do JavaScript, sobre algoritmos e estrutura de dados.
    </li>
    <li>
      <b>Desenvolvimento Backend com Kotlin (DIO):</b> Aprendi sobre o básico da
      linguagem Kotlin.
    </li>
    <li>
      <b>Responsive Web Design (FreeCodeCamp):</b> Aprendi um pouco sobre a
      responsividade nos websites.
    </li>
    <li>
      <b>NLW Expert trilha de Python (Rocketseat):</b> Na trilha eu aprendi sobre o
      framework Flask e as bibliotecas Pylint e python-barcode, versionamento de
      código utilizando pre-commit e sobre testes unitários utilizando Pytest,
      tudo isso foi utilizado no desenvolvimento de um projeto de gerador de
      código de barras.
    </li>
  </ul>
</div>
</div>



{% endblock %}


