.social-media {
  position: absolute;
  width: 200px; /* Aumente a largura conforme desejado */
  height: 100px; /* Aumente a altura conforme desejado */
  background-size: 100px;
  right: 400px;
  top: 180px;

}

.social-media a {
  height: 50px;
  width: 50px;
  border: 1px solid white;
  border-radius: 100%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

}

.icone1 {
  background-image: url('./imagens/GitHub.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%; /* Ajuste o tamanho da imagem de fundo para cobrir toda a área do ícone */

}

.icone2 {
  background-image: url('./imagens/linkedin.svg');
  background-repeat: no-repeat;
  background-size: 85% 90%; /* Ajuste o tamanho da imagem de fundo para cobrir toda a área do ícone */
  align-items: center;

}